@import helpers.MediaFileHelper

@(tagName: String, mediaFiles: java.util.List[models.MediaFile])

@main("Tag "+tagName) {
    <div class="row center">
		<h1><small>@mediaFiles.size()</small> Media Files for Tag @tagName</h1>
	</div>
    <div class="row">
	@for(mediaFile <- mediaFiles) {
		<div class="col-md-3 thumbcell">
			<a title="@mediaFile.filename" href="@routes.MediaFiles.show(mediaFile.checksum)">
			@if(mediaFile.getThumbnail() != null) {
				<img src="@routes.MediaFiles.thumbnail(mediaFile.checksum, 0)"/>
			} else {
				N/A
			}
			</a>
			<div>@if(mediaFile.filesize != null){@MediaFileHelper.humanReadableByteCount(mediaFile.filesize, true) | }@MediaFileHelper.shortName(mediaFile.filename, 25)</div>
		</div>
	}
	</div>
}