@import helpers.MediaFileHelper

@(mediaFiles: java.util.List[models.MediaFile])

@main("Welcome to media DB") {
    <div class="row center">
		<h1><small>@mediaFiles.size()</small> Media Files</h1>
	</div>
	<div class="row">
		@for(mediaFile <- mediaFiles) {
		<div class="col-md-3 thumbcell">
			<a href="@routes.MediaFiles.show(mediaFile.checksum)">
			<img style="max-height: 165px; max-width: 300px" src="@routes.MediaFiles.thumbnail(mediaFile.checksum, 0)"/>
			</a><br />
			@MediaFileHelper.humanReadableByteCount(mediaFile.filesize, true) | @mediaFile.filename
		</div>
		}
	</div>
}
