@(mediaFiles: java.util.List[models.MediaFile])

@main("Welcome to media DB") {
    <div class="row center">
		<h1><small>@mediaFiles.size()</small> Media Files</h1>
	</div>
    <div class="row">
    <table class="table table-striped">
	@for(mediaFile <- mediaFiles){
		<tr>
			<td><a href="@routes.MediaFiles.show(mediaFile.checksum)">@mediaFile.filename</a></td>
			<td>@mediaFile.filesize</td>
			<td>@if(mediaFile.created != null){@mediaFile.created.format("dd.MM.yyyy HH:mm:ss")}</td>
			<td>[<a target="_download" href="@routes.MediaFiles.download(mediaFile.checksum)">download</a>]</td> 
		</tr>
	}
	</table>
	</div>
}
