@(mf: models.MediaFile)

@main("File "+mf.filename) {
    <div class="row"> 
    	<dl>
    		<dt>Filename</dt>
    		<dd>@mf.filename</dd>
    		<dt>SHA-256</dt>
    		<dd>@mf.checksum</dd>
    		<dt>Mime-Type</dt>
    		<dd>@mf.mimeType</dd>
    		<dt>Download</dt>
    		<dd><a target="_download" href="@routes.MediaFiles.download(mf.checksum)">@mf.filename</a></dd>    		
    	</dl>
    </div>
    <div class="row"> 
		<div class="col-md-2">
		<h1>Tags</h1>
		<ul>
		@for(tag <- mf.getTags()){
			<li>@tag</li>
		}
		</ul>
		</div>
		<div class="col-md-8">
			<h1>Properties</h1>
			<table>
			@for(property <- mf.getProperties()) {
				<tr><th>@property.k</th><td>@property.v</td></tr>
			}
			</table>
		</div>
	</div>
}
