body {
    padding-top: 60px;
    padding-bottom: 330px;
}

.center {
	text-align: center;
}

svg {
	width: 95%;
	height: 100%;
}


.front-graph table {
	margin-left: 35px;
	width: 50%;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.front-graph {
	width: 500px;
	height: 300px;
}

div.thumbnail {
	max-height: 175px;
	min-height: 175px;
	text-align: center;
	position: relative;
	overflow:hidden;
	margin-top: 30px;
}

div.thumbcell {
	max-height: 200px;
	min-height: 200px;
	text-align: center;
	position: relative;
	margin-top: 30px;
}

.thumbnail img {
	max-height: 120px;
	max-width: 120px;
}

.thumbcell img {
	max-height: 150px;
	max-width: 275px;
}

.thumbcell div, .thumbnail div {
	position: absolute;
	bottom: 5px;
	text-align: center;
	margin: 0px;
}

.mf-small-row {
	min-height: 42px;
}

.mf-small-row th {
	width: 102px;
	text-align: right;	
}
