@import services.JobService

@(title: String, scripts: Html = Html(""))(content: Html)

@activeLink(currentPath:String) = @{
	if(!play.api.Play.current.configuration.getString("application.context").isEmpty && request.path.startsWith(play.api.Play.current.configuration.getString("application.context").get+currentPath) || request.path.startsWith(currentPath)) "active"
}

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" />        
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/video-js/video-js.min.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")" />     
    </head>
    <body>
 		<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()">media DB</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="@activeLink("/files/filter/image")"><a href="@routes.MediaFiles.index("image")">Images</a></li>
                        <li class="@activeLink("/files/filter/video")"><a href="@routes.MediaFiles.index("video")">Videos</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="@activeLink("/admin")"><a href="@controllers.admin.routes.Dashboard.index()">Administration</a></li>                    
                    	<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs (@JobService.getJobsStats() running)<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                            @for(job <- JobService.getJobNames()) {
                            	@if(JobService.isCancellable(job)) {
                            		<li><form action="@routes.Jobs.toggleJobActive(job)" method="POST"><button style="width:100%" class="btn @if(JobService.isJobActive(job)){btn-danger">disable}else{btn-success">enable} @job</button></form></li>
                            	} else {
                            		<li><button style="width:100%" class="btn btn-default disabled">@job</button></li>
                            	}
                            }
                            <li class="divider"></li>
                            <li><form action="@routes.Jobs.toggleJobsActive()" method="POST"><button style="width:100%" class="btn @if(JobService.isJobsActive()){btn-danger">disable}else{btn-success">enable} all</button></form></li>
                            </ul>
                       </li>
                    </ul>
                </div>
            </div>
        </nav>    
        <div class="container">   
        	@content
  		</div>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/d3js/d3.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>		
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.js")"></script>
        @scripts
	</body>
</html>
